<div class="container-fluid footer">
    <div class = "row">
      <!--name-->
      <div class="col-lg-6">
        <h1>Luis Felipe Dussán</h1>
        <p> </p>
      </div>
      <!-- nav -->
      <div class="col-lg-4">
          <a routerLink="home">Home</a>
          <a routerLink="gallery">Gallery</a>
          <a routerLink="about">About</a>
          <a routerLink="music">Music</a>
          <a routerLink="contact">Contact</a>
          <a routerLink="blog">Blog</a>
          <a routerLink="book">Book</a>
          <a routerLink="shop">Shop</a>
        </div>
        <!--socialmedia-->
        <div class="col-lg-2"></div>
        <a href="#" target="_blank"><i class="bi bi-instagram"></i>Instagram</a>
        <a href="#" target="_blank"><i class="bi bi-youtube"></i>Youtube</a>
  
    </div>
  </div>
  
