<div class="container">
    <div class="row">
      <!-- Image column with offset -->
      <div class="col-md-6 offset-md-3">
        <!-- Add your image here -->
        <img src="../../../assets/logoWhite.png" alt="Your Image" class="img-fluid">
      </div>
  
      <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 40vh;">
          <!-- Centered column -->
          <div class="col-md-6 mt-4">
            <div class="content">
              <form>
                <!-- Your form content here -->
                <div class="form-group">
                <label><strong>username</strong></label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa Usuario">
                  <small id="UserNameHelp" class="form-text text-muted">Tu usuario es unico.</small>
                </div>
      
              
                <button type="button" (click)="redirigirARecomendaciones()" class="btn btn-primary align-items-center">Ingresa</button>


                
              </form>
            </div>
            <button type=" button" (click)="redirigirACrearUsuario()" class="underline-btn ">Crear Usuario</button>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
  